* {padding:0px; margin:0px}

body {font-family: Arial, Helvetica, sans-serif; font-size:13px; background-color:#dfdfdf}
.clear {clear:both}
#wrapper {margin:0 auto; width:1200px; background-color:#FFFFFF; color:#424242}

a {color:#009999; text-decoration:none}
a:hover {color:#009999; /*text-decoration:underline*/}

#topbar {background-color:#f9f9f9; border-bottom:1px solid #e1e1e1; padding:10px 20px 20px 20px}
.toplinks {color:#888888; font-size:11px}
.toplinks a {text-decoration:none}
.toplinks a:hover {text-decoration:underline}

h1 {color:#424242; font-size:36px; font-weight:normal}
h4 {color:#ff8c69; font-size:15px;}
h5 {color:#009999; font-size:14px;}

.report-heading {float:left}
.client-logo {float:right}

/*.pagebuttons{
	margin:0 auto;
	text-align:right;
	width:960px;
	padding-right:20px;
	padding-bottom:10px;
}
.pagebuttons b {float:left; margin-left:12px; font-size:20px; color:#009999;}
.pagebuttons input[type="button"] {background-color:#009999; border:1px solid #2cb5ba; color:#f4fdfd; font-weight:bold; padding:2px 5px;cursor:pointer}
*/
.date {background-color:#f4fdfd; width:1120px; border:1px solid #009999; margin:0 auto; padding:20px}
.date input[type="text"] {background-color:#FFFFFF; border:none; border:1px solid #7f9db9; height:18px; }
.date input[type="image"] {vertical-align:bottom}
.date label strong {color:#888888}
.date input[type="button"] {background-color:#009999; border:1px solid #2cb5ba; color:#f4fdfd; font-weight:bold; padding:2px 5px;cursor:pointer}
.select {background-color:#f4fdfd;  border:1px solid #2cb5ba; width:107px; height:18px; cursor:pointer}

.data-bg {background-color:#fdffff; padding:20px; width:1120px; margin:0 auto; border:1px solid #009999; border-top:none}
.data-table {background-color:#58c5c9; margin:0px 0px 10px 0px}
.data-table td {background-color:#FFFFFF; padding:3px; text-align:center; color:#424242}
.data-table td.heading {background-color:#f5fcfc; color:#009999; font-weight:bold}

.handletitle {background-color:#abf2f5; border:1px solid #4cd1d6; border-bottom:none; font-weight:bold; text-align:left; padding:3px 0px 1px 10px}
.title {background-color:#abf2f5; border:1px solid #4cd1d6; border-bottom:none; font-weight:bold; text-align:left; text-transform:uppercase; padding:3px 0px 1px 10px}

.data-table2 {background-color:#ff9c7b; margin:0px 0px 10px 0px}
.data-table2 td {background-color:#FFFFFF; padding:3px; text-align:center; color:#424242}
.data-table2 td.heading {background-color:#fceee6; color:#ff9c7b; font-weight:bold}

.title2 {background-color:#ffd3bd; border:1px solid #ff9c7b; border-bottom:none; font-weight:bold; text-align:left; text-transform:uppercase; padding:3px 0px 1px 10px}


.powered {width:1160px; text-align:right; font-size:11px; padding-bottom:5px}

#navlist {padding: 5px 0; margin-left: 0; border-bottom: 3px solid #4cd1d6; width:1162px; margin:0 auto}
#navlist li {list-style: none; margin: 0; display: inline; color:#424242}
#navlist li a {padding: 5px 1em; margin-left: 4px; border-bottom: none; color: #2cb5ba; background-color: #f4fdfd; border: 1px solid #009999; text-decoration: none;}
#navlist li a:hover {color: #ffffff; background-color: #009999; border-color: #009999;}
#navlist li a.current {color: #ffffff; background-color: #009999; border-color: #009999;}

.pagebuttons{
	text-align:right;
	width:1160px; /*border:1px solid #009999;*/ margin:0 auto;
}
.pagebuttons b {float:left; padding-top:45px; margin-left:12px; font-size:20px; color:#009999;}
/*.pagebuttons b {float:left; margin-left:12px; font-size:20px; color:#009999;}
.pagebuttons input[type="button"] {background-color:#009999; border:1px solid #2cb5ba; color:#f4fdfd; font-weight:bold; padding:2px 5px;cursor:pointer}*/

.menuwrap {
    display: inline-block;
    position: relative;
}

.menu {
    display: inline-block;
    position: relative;
    cursor: pointer;
    font-size: 17px;
    line-height: 75px;
    color: #333;
    text-decoration: none;
    background: #F5F5F5;
    background:url("../socialwall/images/menu.svg") no-repeat; 
    background-size: 22px 22px; 
    background-position: right; 
    padding-right: 28px;
    margin-right: 20px;
}

.dropdown {
    min-width: 120px;
    text-align: center;
    display: none;
    position: absolute;
    right: auto;
    left: 0;    
    background: #333;
    color: #555;
    top: 70px;
    margin: 0;
    z-index: 999999;
    box-shadow: 0px 0px 1px #ddd;
}

.dropdown::before {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    content: "";
    position: absolute;
    border-bottom: 10px solid #333;
    top: -10px;
    left: 15%;
    right: 0;
    float: left;
}

.dropdown ul {
    padding: 0;
    margin: 0;
}

.dropdown ul > li {
    list-style: none;
    padding: 0;
}

.dropdown ul > li > a {
    
    padding: 0px 15px;
    text-decoration: none;
    color: #FFF;
    display: block;    
    transition: all 0.2s ease-in-out;
    font-size: 14px;
    line-height: 35px;
}

.dropdown ul > li > a:hover {
    background: #222;
}

.dropdown ul > li > a > i {
    float: right;
    display:inline-block;
    line-height: 50px;
}

.logoutlink {
    display: inline-block;
    position: relative;
    cursor: pointer;
    font-size: 17px;
    line-height: 75px;
    color: #333;
    text-decoration: none;
    background: #F5F5F5;
    background:url("../socialwall/images/logout-icon.svg") no-repeat; 
    background-size: 20px 20px; 
    background-position: right; 
    padding-right: 25px;
}
